
/*ALL*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
/*ALL*/

header{
    padding-top: 20px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/Life-at-Campus-Arohi-Sharma-36-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
}
.header a{
    text-decoration: none;
    color: #fff;
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav img{
    height: 70px;
    width: 330px;
}
.arrow1{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin-left: 40px;
}
.arrow2{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin-right: 40px;
}
.banner{
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 60px;
}
h2{
    color: #fff;
    font-family:'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 600;
}
.heading{
    float: left;
    padding-right: 350px;
}
.heading button{
    background-color: #2957A4;
    border-style: none;
    border-radius: 3px;
    font-size: 15px;
    font-family:'Poppins', sans-serif;
    color: #fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
}

.division{
    background-color: #2957A4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.division h2{
    font-size: 35px;
}
.division button{
    background-color: #2957A4;
    border-style: solid;
    border-color: #fff;
    border-radius: 3px;
    font-size: 15px;
    font-family:'Poppins', sans-serif;
    color: #fff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    margin-right: 20px;
}

.admission{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.admission img{
    height: 700px;
    width: 500px;
    border-style: none;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

.about{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 16px;
    font-family:'Poppins', sans-serif;
    color: #555555;
    font-weight: 500;
}
.p{
    width: 600px;
    margin-left: 20px;
}
.p p{
    padding: 10px;
}

.about img{
    height: 370px;
    width: 570px;
    border-style: none;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 20px;
}

.gallery{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gallery h1{
    color: #000;
    font-size: 50px;
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    padding: 30px;
}
.gallery-img{
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
}
.gallery-img img{
    height: 200px;
    width: 315px;
}
.gallery a{
    color: #fff;
    background-color: #2957A4;
    font-size: 20px;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
    margin: 30px;
    font-weight: 500;
}

.testimonie{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EFF2F7;
    padding-top: 60px;
    padding-bottom: 50px;
}

.testimonie h2{
    color: #000;
    font-size: 50px;
    font-weight: 700;
}
.testimonie-button{
    margin: 30px;
}

.testimonie-button a{
    text-decoration: none;
    color: #fff;
    background-color: rgb(200, 200, 200);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.testimonie-img{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 15px;
    margin-bottom: 30px;
}
.testimonie-img img{
    height: 250px;
    width: 250px;
    margin: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: #fff;
    border-width: 5px;
    box-shadow: 1px 1px rgba(150, 150, 150, 0.3);;
}

.view{
    color: #fff;
    font-family:'Poppins', sans-serif;
    background-color: #2957A4;
    border-style: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
}

footer{
    background-color: #181818;
}
footer img{
    height: 50px;
    width: 300px;
    padding-bottom: 10px;
}
footer h2{
    font-size: 15px;
    font-weight: 700;
    /* padding-top: 10px; */
}
footer p{
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
    padding-left: 0;
    font-family:'Poppins', sans-serif;
}
.footer{
    display: flex;
    justify-content: space-around;
    padding: 60px;
 }
 footer a{
    color: #fff;
    text-decoration: none;
    font-family:'Poppins', sans-serif;
    font-size: 23px;
 }
 .line{
    background-color: #2957A4;
    width: 250px;
    border-style: solid;
    border-color: #2957A4;
    border-width: 1px;
 }
 footer ul{
    list-style:none;
    color: #fff;
    font-family:'Poppins', sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 5px;
 }
 footer li{
    padding: 5px;
 }