
/*ALL*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Dancing+Script:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Dancing+Script:wght@500&family=Roboto+Slab:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.5s;
}
body {
    font-family: "NB International", "Arial", sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}



/* common code */

.btn{
    background-color: #181818;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
}




/* division */
.section1{
    padding: 50px 20px;
    text-align: center;
    background-color: #181818;
}
#section1_heading{
    transition: 0.5s;
    opacity: 1;
    overflow: visible;
    height: fit-content;
}
.section1 a{
    letter-spacing: 3px;
}
.section1 h2{
    opacity: 0;
    overflow: hidden;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    height: 0;
}
.section1 p{
    font-size: 15px;
    color: #fff;
    line-height: 1.5;
    margin: 20px;
    margin-top: 10px;
    opacity: 1;
    overflow: visible;
    height: fit-content;
}

.section1_text{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* division end */




/* about */

.about{
    padding: 30px 20px;
    font-size: 16px;
    background-color: #f0f0f0e0;
}
.about h1{
    color: #000; 
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px;
    border-style: solid;
    border-color: #181818;
}
.about p, .about a, .about h1{
    padding: 5px;
    margin-bottom: 20px;
}
.about a{
    margin-left: 5px;
    padding: 10px 20px;
}
.about h1{
    margin-bottom: 5px;
}
.about img{
    height: 40%;
    width: 80%;
    border-radius: 100%;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.about_text{
    margin-bottom: 10px;
}

/* about end */



/* projects */


.projects{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1818182b;
    padding: 30px 20px;
}
.projects h2{
    color: #000;
    font-size: 40px;
    font-weight: 700;
    font-family:'Poppins', sans-serif;
}
.view_btn{
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
}
.projects-img{
    display: flex;
    flex-direction: column;
}
.projects-img img{
    height: 25vh;
    width: 70vw;
    border-style: solid;
    border-radius: 5px;
    border-color: #fff;
    margin: 10px 0px;
}



/* projects end */




/* sad */

.section2{
    padding: 30px 20px;
    text-align: center;
    /* margin-bottom: 10px; */
    background-color: #f0f0f0e0;
}
.section2 h1{
    font-size: 30px;
    font-family:'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}
/* sad end */


