

@media only screen and (min-width:1024px){
    nav{
        padding: 30px;
    }
    .btn{
    padding: 10px 30px;
    font-size: 20px;
    }
    nav a, .about p{
        font-size: 20px;
    }
    #logo{
        font-size: 30px;
    }
    .banner h1, .projects h2{
        font-size: 60px;
    }
    .banner h2{
        font-size: 90px;
    }
    .banner p{
        font-size: 23px;
        margin-bottom: 10px;
    }
    .section1 h2,.section2 h1{
        font-size: 50px;
    }
    .section1 p, .view_btn{
        font-size: 23px;
    }
    .about h1{
        font-size: 40px;
    }



 } 
